/* You can add global styles to this file, and also import other style files */
.text-decoration{
    /* text-decoration: line-through; */
    text-decoration-color: rgb(70, 29, 29);
    opacity: 0.5;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}